# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- list popular languages for Data Science
- list commonly used libraries for Data Science
- table of Data Science Tools
- list and evaluate arithmetic expression in Python

Some of the popular languages that Data Science use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy

| Data Science Tools |
| -------------|
| MySQL |
| PostgreSQL |
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python
- (+) addition
- (-) subtraction
- (*) multiplication
- (/) division

In [3]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by dividing 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Dalya Huzeyen